:root{
  --background-color:#111111;
  --small-btn:#bbbb2d;
  --text-color:#FFFEFE;
  --hover-color:#2e2a2a;
  --font-size:25px;
  --movie-card:#181818;
  --mons-font:'Roboto',sans-serif;
  --play-btn:#1FDF64;
}
.navbar {
  display: flex;
  flex-direction: column;
  width: 25%;
  height: 100vh;
  background-color: black;
}
.home{
  font-family: 'Montserrat', sans-serif;
  border-radius: 10px;
  margin: 10px;
  display: flex;
  flex-direction: column;
  background-color: var(--background-color);
}
.navbar .home button{
  background-color:var(--background-color);
  color: var(--text-color);
  display: flex;
  margin: 0rem 1rem 0 1rem;
  padding: 1rem;
  cursor: pointer;
  font-weight: 500;
  font-size: 25px;
  border: none;
}
.navbar .home button i{
  display: flex;
  align-items: center;
  margin-right: 10px;
  background-color: var(--background-color);
}
.wrapper{
  background-color: var(--background-color);
  margin: 5px 10px 10px 10px;
  border-radius: 10px;
  height: calc(100%);
}

.navbar .library{
  color: var(--text-color);
}
.library .lib{
  font-family: 'Roboto',sans-serif;
  font-weight: bold;
  padding-top: 10px;
  margin:1rem 1.5rem;
  font-size: var(--font-size);
  display: flex;
  justify-content: space-between;
}
.library .small-btn{
  margin: 1rem;
  display: flex;
  background-color: var(--background-color);
  justify-content: space-between;
  font-size: var(--font-size);
}
.library .small-btn button{
  border-radius: 10px;
  background-color: var(--small-btn);
  padding: 2px;
  border: none;
}
.library .movie-details{
  font-family: 'Montserrat',sans-serif;
  height: 4rem;
  padding: 10px;
  margin: 0 2px;
}
.library .movie-details img{
  height: 100%;
  width: 5rem;
  border-radius: 5px;
}
.library .movie-details .title{
  display: inline-block;
  width: 12%;
  position: absolute;
}
.library .movie-details .title .title-head{
  padding: 1px 10px ;
  display: flex;
  font-size: 14px;
  font-weight: bold;
}
.library .movie-details .title .details{
  padding: 0px 10px;
  width: 80%;
  font-size: 12px;
}
.library .movie-details:hover{
  background-color: var(--hover-color);
  cursor: pointer;
  /* margin: 10px; */
  border-radius: 10px;
}
/* Movies section */
.movies{
  width: 100%;
  background-color: rgb(0, 0, 0);
}


/*  */
.movie-app
{
  background-color: black;
  display: flex;
  color: var(--text-color);
  font-family: "Montserrat", sans-serif;
}
.movies{
  margin: 10px 10px 10px 0px;
  height: calc(100vh - 1.3rem);
  border-radius: 10px;
  background-color: var(--background-color);
  overflow:scroll;
}
.movies .movie-navbar{
  padding: 1rem;
  border-radius:10px 10px 0 0;
  width: auto;
  font-size: var(--font-size);
  font-weight: 800;
  background-color: inherit;
}
.movie-navbar{
  display: flex;
  justify-content: space-between;
  position: sticky;
  z-index:100 ;
  top: 0;
}
.movie-app .profile
{
  border-radius: 50%;
  padding:2px 8px;
  background-color: var(--small-btn);
}
.movies .trending{
  margin: 0rem 0rem 1rem 1.2rem;
  /* width: 100%; */
   display: flex;
   flex-wrap: wrap;
   align-items: center;
   justify-content: center;
}
.movies .trending .movie-card
{
  margin: 1rem 0.5rem 1rem 0.5rem;
  border-radius:6px ;
  padding: 0.8rem;
  background-color: var(--movie-card);
  width: calc(100%/4.2);
  height: 20rem;
  position: relative;
}
.movie-card img:hover{
  box-shadow: 0 19px 38px rgba(0,0,0,0.30), 0 15px 12px rgba(0,0,0,0.22);
}
.movies .trending .movie-card .movie-name{
  padding: 5px 0px;
  font-size: 16px;
  font-weight: 900;
}
.movies .trending .movie-card  .movie-desc{
  display: flex;
  font-family: 'Roboto',sans-serif;
  font-size: 14px;
  font-weight: 450;
  color: #ffffff;
  overflow: hidden;
}
.movies .trending .movie-card  .movie-desc > *{
  background-color: rgb(55, 54, 54);
  padding: 2px 10px;
  border-radius: 10px;
  margin: 0 7px 0 0;
}
.movies .trending .movie-card:hover{
  background-color: var(--hover-color);
  cursor: pointer;
}
.movies .trending .movie-card img{
  height: 75%;
  width: 100%;
  border-radius: 4px;
}
.subheading{
  font-family: "Montserrat", sans-serif;
  padding: 1rem 1rem 1rem 2rem;
  font-size: 20px;
  font-weight: 900;
}
.fav{
  background-color: var(--play-btn);
  display: inline-block;
  padding: 13px 10px;
  border-radius: 50%;
  font-weight: 900;
  color: black;
  position: absolute;
  bottom: 4.7rem;
  right: 1.3rem;
}

@media screen and (max-width: 2000px) {
  .movies .trending .movie-card{
    width: calc(100%/3.2);
    height: 25rem;
  }
  .movies .trending .movie-card img{
    height: 85%;
    width: 100%;
    border-radius: 4px;
  }
}
